html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background: linear-gradient(180deg, #20264a, #009688);
}

.modal-content.func_main {
    background: linear-gradient(180deg, #20264a96, #009688);
    /* background-color: rgba(128, 128, 128, 0.8); */
}
.modal-body.func_main {
    padding: 0;
}

.modal-header.func_main {
    padding-top: 7%;
}

.background {
    background-image: url("../assets/img/Lobby/Background_all_2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;

    box-shadow: 0 25px 25px rgb(0 0 0 / 50%);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10vh; */
    /* width: 10vh; */
}

.image-avatar {
    position: absolute;
    /* z-index: 3; */
}

.button_lobby {
    cursor: pointer;
    transition: transform 150ms;
}

.button_lobby:hover {
    opacity: 1;
    transform: translateY(-2px);
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.close-button:hover {
    /* opacity: 1; */
    transform: translateY(-1px);
}

.text-danger {
    color: #dc3545; /* Màu chữ đỏ */
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

table.block_now {
    color: #ffffff;
    background-color: #000000ad;
    /* border-radius: 20%; */
    border: 0.1vw solid #ffffff;
    /* padding: 10%; */
    text-align: center;
    /* font-size: 2vw; */
    /* width: max-content; */
    white-space: nowrap;
}

.lobby-grid {
    display: grid;
    grid-template: repeat(57, 9.9px) / repeat(100, 10px);
    gap: 0px;
}

.login-lobby-view {
    background-color: #7c7d97;
    grid-row: 5 / 5;
    grid-column: 7 / 7;
}

.lobby-name-view {
    /* background-color: #95d79d; */
    grid-row: 3 / 3;
    grid-column: 12 / 12;
    /* position: absolute; */
    z-index: 3;
    font-size: 15px;
    font-family: monospace;
    color: white;
    background: #0000005e;
    display: table;
    white-space: nowrap;
}
.lobby-level-view {
    z-index: 3;
    position: relative;
    font-size: 13px;
    font-family: monospace;
    color: white;
    right: -20px;
    top: -23.4px;
}
.lobby-donater-view {
    /* background-color: #77dc77; */
    grid-row: 6 / 6;
    grid-column: 12 / 12;
    /* position: absolute; */
    z-index: 3;
    font-size: 13px;
    font-family: monospace;
    color: white;
    background: #0000005e;
    display: table;
    white-space: nowrap;
}

.arena-lobby-view {
    /* background-color: #79B5DD; */
    grid-row: 6 / 6;
    grid-column: 71 / 71;
}

.stage-lobby-view {
    /* background-color: #79B5DD; */
    grid-row: 38 / 38;
    grid-column: 75 / 75;
}
.shop-lobby-view {
    /* background-color: #79B5DD; */
    grid-row: 5 / 5;
    grid-column: 13 / 13;
    z-index: 3;
    zoom: 109%;
}
.craft-upgrade-lobby-view {
    /* background-color: #79B5DD; */
    grid-row: 15 / 15;
    grid-column: 37 / 37;
    zoom: 115%;
}
.table-block-now-lobby-view {
    /* background-color: #79B5DD; */
    grid-row: 56 / 56;
    grid-column: 1 / 1;
    zoom: 70%;
    /* margin-left: 1.6vw; */
}

.lobby-AP-bar-view {
    /* background-color: #79B5DD; */
    grid-row: 4 / 4;
    grid-column: 34 / 37;
    /* zoom: 68%; */
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 13;
    display: grid;
    grid-template: repeat(3, 10px) / repeat(15, 10px);
    justify-items: center;
    align-items: center;
    align-content: space-evenly;
}

.lobby-AP-bar-view-1 {
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 2 / 3;
    zoom: 50%;
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 13;
}
.lobby-AP-bar-view-2 {
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 8 / 8;
    zoom: 90%;
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 12;
}
.lobby-AP-bar-view-3 {
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 8 / 9;
    zoom: 85%;
    font-size: 15px;
    z-index: 13;
    font-family: monospace;
    color: white;
    /* background: #0000005e; */
    display: table;
    white-space: nowrap;
}
.lobby-AP-bar-view-4 {
    /* background-color: #79B5DD; */
    grid-row: 3 / 3;
    grid-column: 4 / 7;
    zoom: 71%;
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 12;
}
.lobby-AP-bar-view-5 {
    /* background-color: #79B5DD; */
    grid-row: 3 / 3;
    grid-column: 6 / 11;
    /* zoom: 100%; */
    font-size: 12px;
    z-index: 13;
    font-family: monospace;
    color: white;
    background: #0000005e;
    display: table;
    white-space: nowrap;
}
.lobby-AP-bar-view-6 {
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 8 / 9;
    zoom: 30%;
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 12;
}
.lobby-AP-bar-2-view {
    /* background-color: #79B5DD; */
    grid-row: 4 / 4;
    grid-column: 50 / 50;
    /* zoom: 150%; */
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 13;
    display: grid;
    grid-template: repeat(3, 10px) / repeat(15, 10px);
    justify-items: center;
    align-items: center;
    align-content: space-evenly;
}
.lobby-AP-bar-2-view-1 {
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    /* zoom: 50%; */
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 13;
}
.lobby-AP-bar-2-view-2 {
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 1 / 13;
    zoom: 90%;
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 12;
}
.lobby-AP-bar-2-view-3 {
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 1 / 13;
    zoom: 85%;
    font-size: 15px;
    z-index: 13;
    font-family: monospace;
    color: white;
    /* background: #0000005e; */
    display: table;
    white-space: nowrap;
}
.lobby-AP-bar-2-view-4 {
    display: none;
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 1 / 13;
    zoom: 30%;
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 12;
}

.lobby-crystal-bar-view {
    /* background-color: #79B5DD; */
    grid-row: 4 / 4;
    grid-column: 64 / 68;
    /* zoom: 150%; */
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 13;
    display: grid;
    grid-template: repeat(3, 10px) / repeat(15, 10px);
    justify-items: center;
    align-items: center;
    align-content: space-evenly;
}

.lobby-crystal-bar-view-1 {
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    zoom: 50%;
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 13;
}
.lobby-crystal-bar-view-2 {
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 1 / 13;
    zoom: 90%;
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 12;
}
.lobby-crystal-bar-view-3 {
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 1 / 13;
    zoom: 85%;
    font-size: 15px;
    z-index: 13;
    font-family: monospace;
    color: white;
    /* background: #0000005e; */
    display: table;
    white-space: nowrap;
}

.lobby-crystal-bar-view-4 {
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 1 / 13;
    zoom: 30%;
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 12;
}

.lobby-NCG-bar-view {
    /* background-color: #79B5DD; */
    grid-row: 4 / 4;
    grid-column: 78 / 79;
    /* zoom: 150%; */
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 13;
    display: grid;
    grid-template: repeat(3, 10px) / repeat(15, 10px);
    justify-items: center;
    align-items: center;
    align-content: space-evenly;
}
.lobby-NCG-bar-view-1 {
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    zoom: 90%;
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 13;
}
.lobby-NCG-bar-view-2 {
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 1 / 13;
    zoom: 90%;
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 12;
}
.lobby-NCG-bar-view-3 {
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 1 / 13;
    zoom: 85%;
    font-size: 15px;
    z-index: 13;
    font-family: monospace;
    color: white;
    /* background: #0000005e; */
    display: table;
    white-space: nowrap;
}

.lobby-NCG-bar-view-4 {
    /* background-color: #79B5DD; */
    grid-row: 1 / 1;
    grid-column: 1 / 13;
    zoom: 30%;
    /* display: table; */
    /* white-space: nowrap; */
    z-index: 12;
}

.custom-gauge {
    position: relative;
    width: 250px;
    height: 250px;
    display: inline-block;
}

.custom-gauge img {
    position: absolute;
}

.custom-progress-bar {
    position: relative;
}

.cpb-background {
    position: absolute;
    top: 0;
}

.custom-background-image {
    /*opacity: .3;*/
}

.cpb-progress {
    /*height: 200px;*/
    overflow: hidden;
    position: relative;
    /*top: 90px;*/
}

.custom-progress-image {
    position: absolute;
    bottom: 0;
}

/*///////////////////////////////////////////////*/

/*///////////////////////////////////////////////*/
